<h2>Nuevo Usuario</h2>
<hr>
<div>
	<%= form_for @user, :path => do_login_path() do |f| %>
		<%= f.label :nombre %>
		<%= f.text_field :nombre %>
		<%= f.label :email %>
		<%= f.email_field :email, :placeholder => "email@domain.com" %>
		<%= f.label :password%>
		<%= f.password_field :password, :placeholder => "password" %>
		<br>
		<br>
		<%= f.submit %>
	<% end %>
