	<h2>Editar Usuario</h2>
	<div>
	<%= form_for @user do |f| %>
		<%= f.label :nombre %>
		<%= f.text_field :nombre %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :pass %>
		<%= f.text_field :pass %>

		<%= f.label :tipo_usuario, "¿Instructor?" %>
		<%= f.check_box :tipo_usuario %>
		<br>
		<br>
		<%= f.submit %>
	<%end%>
	</div>
	<div class="btn btn-inverse"><%=link_to "Back", @user %></div>