
	<div>
	<%= form_for @user do |f| %>
		<%= f.label :nombre %>
		<%= f.text_field :nombre %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :pass %>
		<%= f.text_field :pass %>

		<%= f.check_box :tipo_usuario %>
		<%= f.submit %>
	<%end%>
	</div>